
.compose-mail {
   
    position: fixed;
    z-index: 100;
    bottom: 1vh;
    right: 1vw;
    left: 60vw;
    top: 40vh;
    background-color: white;
    border:1px solid darkgray;
    overflow: auto;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.15);

}
.compose-topic{
   background-color: #f2f6fc;
   padding: 10px 15px;

  display: flex;
  justify-content: space-between; 
  align-items: center;
  border-radius: 8px 8px 0 0;
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.compose-topic .btn-toggle-modal{
   font-size: 15px;
}
.compose-topic .btn-toggle-modal:hover {

cursor: pointer;
}

.compose-modal{
display: flex;
flex-direction: column;
}

.compose-mail #body{
width:100%;
height: 80%;}
.send-compose-btn{
   border-radius: 30px;
   font-size: 25px;
   font-weight: 500;
   background-color:#256ece ;
   color:#FFFFFF;
   border:none;
   width: 100px;
   height: 36px;
}