.mail-header{
   position: fixed;
   top: 0;
   left:0;
   right:0;
   z-index: 10;
    display: flex;
    justify-content: space-between;
    background-color:#F8FAFD ;
  color:#202124;
  height: 70px;
}