.compose-mail {
   
    position: fixed;
    z-index: 10;
    bottom: 1vh;
    right: 1vw;
    left: 60vw;
    top: 40vh;
    background-color: white;
    border:1px solid darkgray;
    overflow: auto;
}
.compose-modal{
display: flex;
flex-direction: column;
}

.compose-mail .btn-toggle-modal {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 7px;
    margin: 0;
}
.compose-mail .body{
   height: 80%;
}
.send-compose-btn{
   border-radius: 30px;
   padding: 5px 20px;
   font-size: 25px;
   font-weight: 500;
   background-color:#297BE6 ;
   color:#FFFFFF;
   border:none;
}