
.note-index {
    padding: 16px;
}

/* .note-list {
    padding: 16px 0;
} */

.note-list {
    margin-bottom: 24px;
    /* display: block; */
}

.note-list ul {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
}

.note-list li {
    list-style: none;
}

.note-preview {
    border-radius: 8px;
    padding: 16px;
    /* display: block; */
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    min-height: 180px;
    box-shadow:
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 6px rgba(0, 0, 0, 0.08);
    transition: box-shadow 0.2s ease;
}

.note-preview:hover {
    box-shadow:
        0px 4px 8px rgba(0, 0, 0, 0.1),
        0px 6px 18px rgba(0, 0, 0, 0.15);
}

.note-img {
    margin-bottom: 12px;
}

.note-img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 6px;
}

.note-section-title {
    margin: 16px 0 8px;
    font-size: 1.1rem;
    font-weight: 600;
    color: #555;
}

.note-yellow {
    background-color: #fef3b7;
}

.note-blue {
    background-color: #d7e3fc;
}

.note-red {
    background-color: #ffd7d7;
}

.note-orange {
    background-color: #ffe7c7;
}

.note-green {
    background-color: #e1f5d3;
}

.note-pink {
    background-color: #ffd9f1;
}