/* Setup */

@import './setup/variables.css';
/* @import './setup/fonts.css'; */

/* Basics */

@import './basics/base.css';
@import './basics/helpers.css';
/* @import './basics/layout.css'; */

/* Pages */
@import './pages/home.css';


@import './apps/note/cmps/NoteActions.css';
@import './apps/note/cmps/NoteColor.css';
@import './apps/note/cmps/NoteIndex.css';
@import './apps/note/cmps/NoteList.css';
@import './apps/note/cmps/NotesMq.css';
@import './apps/note/cmps/NoteToDo.css';
@import './apps/note/cmps/NoteAdd.css';
@import './apps/note/cmps/NoteEdit.css';
@import './apps/note/cmps/NoteFilter.css';
@import './apps/note/cmps/NoteSearch.css';
@import './apps/note/cmps/NoteHeader.css';




/* @import './apps/mail/pages/MailIndex.css'; */

/* Cmps */

@import './cmps/UserMsg.css';
@import './cmps/AppHeader.css';

@import './apps/mail/cmps/MailList.css';
@import './apps/mail/cmps/MailPreview.css';
@import './apps/mail/cmps/MailCompose.css';
@import './apps/mail/cmps/btnToggleMenu.css';